@import url('https://fonts.googleapis.com/css?family=Halant&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #282828;
}

header {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #FFFFFF;
}

